@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700');

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	background: #1f1f1f;
	color: #ffffff;
	width: 66%;
	margin: 0 auto;
}

.TitleBlock h1 {
	font-family: 'Lobster', cursive;
	margin: 4rem 0 1rem;
	/* margin-top: 4rem;
	margin-bottom: 1rem;
	margin-left: 0;
	margin-right: 0; */
	font-size: 3rem;
}

.TitleBlock__Container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 1px solid #eee;
	padding: 0.5rem;
}

.TitleBlock_Description {
	font-size: 1rem;
	color: rgb(197, 192, 192);
}

.TitleBlock_Rating {
	width: 100%;
	align-items: center;
}

.SubNav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 2rem 0;
	background: #313131;
	height: 2.5rem;
	border-radius: 7px;
	box-shadow: 1px 2px 3px 4px rgba(20, 20, 20, 0.4);
}

.SubNav__Links {
	color: #fff;
	text-decoration: none;
	font-size: 1.2rem;
	font-weight: bold;
	margin: 1rem;
	transition: all 0.5s ease-in-out;
}

.SubNav__Links:hover {
	color: rgb(105, 102, 102);
	font-size: 1.5rem;
	transition: all 0.5s ease-in-out;
}

.Media {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 25rem;
	margin: 2rem 0;
}

#Media__Poster {
	height: 100%;
	width: 100%;
	flex: 1;
	transition: all 0.5s ease-in-out;
}

#Media__Poster:hover {
	transform: scale(1.1);
	transition: all 0.5s ease-in-out;
}

#Media__Video {
	height: 100%;
	width: 100%;
	flex: 2;
}

.Media__SideContainer {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 100%;
	width: 100%;
	flex: 0.75;
}

.Media__SideContainer-Content {
	background: #313131;
	width: 100%;
	margin: 2px;
	flex: 1;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.Media__SideContainer-Content:hover {
	background: #414141;
	cursor: pointer;
}

